<div class="card mt-5">
    <div class="card-header">
        {{this.isNew ? "Register Venta" : "Update Venta"}}
    </div>
    <div class="card-body">
        <form (ngSubmit)="submitVenta(forma)" #forma="ngForm" class="row g-3">
<div class="col-md-6">
<label for="label-id_venta"  class="form-label">id_venta:</label>"
<input #inputid_venta="ngModel"  type="text" name="id_venta" [ngClass]="{'is-invalid': inputid_venta.touched && inputid_venta.hasError('required') }" [(ngModel)]="venta.id_venta" class="form-control" id="id_venta" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-id"  class="form-label">id:</label>"
<input #inputid="ngModel"  type="text" name="id" [ngClass]="{'is-invalid': inputid.touched && inputid.hasError('required') }" [(ngModel)]="venta.id" class="form-control" id="id" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-detalle_venta"  class="form-label">detalle_venta:</label>"
<input #inputdetalle_venta="ngModel"  type="text" name="detalle_venta" [ngClass]="{'is-invalid': inputdetalle_venta.touched && inputdetalle_venta.hasError('required') }" [(ngModel)]="venta.detalle_venta" class="form-control" id="detalle_venta" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-12 text-center">
            <button class=" btn btn-primary" type="submit" [disabled]="forma.invalid">{{this.isNew ? "Register" : "Update"}}</button>
            <button style="margin-left: 10px;" class=" btn btn-danger" type="button" (click)="limpiarForm(forma)">Clear</button>
            <button *ngIf="!this.isNew" style="margin-left: 10px;" class=" btn btn-danger" type="button" (click)="emitChange.emit()">Cancel</button>
          </div>
      </form>
    </div>
</div>
<router-outlet></router-outlet> 
